'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Wrap Style'
      'command': 'wrap-style:toggle'
    }
  ]
'menu': [
  {
    'label': 'View'
    'submenu': [
      {
        'label': 'Toggle Wrap Style'
        'command': 'wrap-style:toggle'
      }
    ]
  }
]
